C:\Ada\ada_frontend\08_Agosto\Clase_8\ADAC8_Tarea_Portfolio\.gitignore
C:\Ada\ada_frontend\09_Septiembre\Clase_14\ADAC14_Tarea_Maquetado\.gitignore
C:\Ada\ada_frontend\09_Septiembre\Clase_18\TPClase_18\.gitignore
C:\Ada\ada_frontend\09_Septiembre\Clase_18\TPClase_21\.gitignore
09_Septiembre/Clase_23/info.txt
