C:\Ada\ada_frontend\08_Agosto\Clase_8\ADAC8_Tarea_Portfolio\.gitignore
C:\Ada\ada_frontend\09_Septiembre\Clase_14\ADAC14_Tarea_Maquetado\.gitignore
C:\Ada\ada_frontend\09_Septiembre\Clase_18\TPClase_18\.gitignore
C:\Ada\ada_frontend\09_Septiembre\Clase_18\TPClase_21\.gitignore
C:\Ada\ada_frontend\11_Noviembre\Clase_44\integrador-2\.gitignore
09_Septiembre/Clase_23/info.txt
09_Septiembre/Clase_21/ADAC21_Tarea_Sass
08_Agosto/Clase_8/ADAC8_Tarea_Portfolio
11_Noviembre/Clase_14/integrador-2
C:\Ada\ada_frontend\12_Diciembre\Clase_52\testing\node_modules\
C:\Ada\ada_frontend\12_Diciembre\Clase_55\integrador-3\.gitignore
C:\Ada\ada_frontend\01_Enero_2020\Clase_64
C:\Ada\ada_frontend\02_Febrero_2020\Clase_72\ada_tp_zapatos
C:\Ada\ada_frontend\02_Febrero_2020\Clase_77\tp_pokemon
C:\Ada\ada_frontend\02_Febrero_2020\Clase_79\TP-DOM
C:\Ada\ada_frontend\02_Febrero_2020\Clase_82\primera-react\node_modules
C:\Ada\ada_frontend\02_Febrero_2020\Clase_82\primera-react\node_modules
C:\Ada\ada_frontend\02_Febrero_2020\Clase_85\ejercicio_85\node_modules
C:\Ada\ada_frontend\02_Febrero_2020\Clase_82\spotify-playlist\node_modules
C:\Ada\ada_frontend\02_Febrero_2020\Clase_88\clase7
C:\Ada\ada_frontend\02_Febrero_2020\Clase_88\clase7\node_modules