@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
 text-align: center;
 color: #ffffff;
 font-family: 'Montserrat', sans-serif;
}

.header {
 background-color: #343a40;
 height: 80px;
 text-align: left;  
}

.main {
  background-color: #1abc9c;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.imgEj {
  height: 250px;
}

h1, p{
  display: inline-block;
}

h1.ada{
  margin-left: 250px; 
  padding-top: 25px;
  margin-right: 300px;
  font-weight: 500;
}

p {
  margin-right: 50px;
}

h1.htmlycss{
  font-size: 63px;
}

h6 {
  font-size: 18px;
}

