$primary_font: "Montserrat", sans-serif;
$secondary_font: "Open Sans", sans-serif;

$primary_font_color: #283d50;
$secondary_font_color: #556877;

$main_color:#1445b3;
$secondary_color:#007bff;
$tertiary_color: #007bff;
$fourth_color: #ffff;
$fifth_color: #74b5fc;