@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:400,600,700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.our-clients {
  background-color: #ecf5ff;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
}

.header-our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.header-our-clients h3 {
  color: #283d50;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.header-our-clients p {
  text-align: center;
}

.text-our-clients {
  width: 40%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #556877;
  line-height: 1.5;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.clients-block {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #d6eaff;
  border-right: 1px solid #d6eaff;
}

.client-container {
  background-color: #ffff;
  width: 25%;
  height: 180px;
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-container .client-logo {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-container img {
  width: 60%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.client-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services {
  background-color: #ecf5ff;
  padding: 60px 0 40px 0;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.services .services__container {
  width: 85%;
  margin: 0 auto;
}

.services .services__container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.services .services__container header h1 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.services .services__container header p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px;
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
}

.services .services__container .services__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__container .services__main .services__card {
  overflow: hidden;
  position: relative;
  padding: 30px;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #ffff;
  -webkit-box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
          box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.services .services__container .services__main .services__card .services__img {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
  width: 20%;
}

.services .services__container .services__main .services__card .services__img .ionic {
  font-size: 70px;
}

.services .services__container .services__main .services__card .services__text {
  width: 70%;
  margin-left: 20%;
}

.services .services__container .services__main .services__card .services__text h4 {
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services .services__container .services__main .services__card .services__text h4 a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services .services__container .services__main .services__card .services__text h4 :hover {
  color: #0b6bd3;
}

.services .services__container .services__main .services__card .services__text p {
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 14px;
}

.services .services__container .services__main .services__card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media (min-width: 992px) and (max-width: 1199px) {
  .services .services__container .services__main .services__card {
    width: 44%;
  }
}

@media (max-width: 767px) {
  .header-our-clients p {
    width: 80%;
  }
  .clients-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
  }
  .clients-block .client-container {
    width: 100%;
    overflow: hidden;
  }
  .clients-block .client-container .client-logo {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients-block .client-container .client-logo img {
    width: 80%;
    height: 80%;
  }
  .services .services__container {
    width: 80%;
  }
  .services .services__container .services__main .services__card {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .services .services__container .services__main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services .services__container .services__main .services__card {
    width: 44%;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .header-our-clients p {
    width: 43%;
  }
  .clients-block {
    border: none;
  }
  .clients-block .client-container {
    width: 33.2%;
  }
}
/*# sourceMappingURL=style.css.map */