@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #004a99;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.footer_principal {
  display: flex;
  justify-content: center;
}

.footer_principal_info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wayne_header {
  font-size: 20px;
}

.footer_principal_info > div {
  width: 300px;
  height: 250px;
  font-size: 14px;
}

.useful {
  padding-left: 50px;
}

.useful ul {
  list-style: none;
  padding: 0;
  line-height: 25px;
  color: #fff;
}

.useful ul a:hover {
  color: #74b5fc;
}

.contact_us {
  width: 250px;
  line-height: 25px;
  color: #ffffff;
}

.contact_us h4 {
  font-weight: bold;
}

.contact_info {
  font-size: 12px;
}

.contact_icons {
  display: flex;
  margin-top: 15px;
}

.contact_icons a {
  border-radius: 50%;
  background: #007bff;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  transition: all 0.5s;
}

.contact_icons a:hover {
  background-color: #0067d5;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

i {
  color: #ffffff;
}

.contact_us,
.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form {
  display: flex;
}

input[type="email"] {
  width: 165.33px;
  height: 33px;
}

input[type="submit"] {
  height: 39px;
  width: 90px;
  background-color: #007bff;
  border: none;
  color: #fff;
  text-align: center;
  font-family: inherit;
  transition: all 0.5s;
}

input[type="submit"]:hover {
  background-color: #0067d5;
}

.footer_secundario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 14px;
  font-weight: normal;
  background-color: #00428a;
}

@media (max-width: 950px) {
  .footer_principal_info {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
  }

  .useful,
  .newsletter {
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .footer_principal_info {
    align-content: flex-start;
    justify-content: center;
  }

  .useful,
  .newsletter {
    padding-left: 0px;
  }
}
