body {
  background: #eee;
  margin: 0;
}

.card {
  background-color: #fff;
  width: 400px;
  margin: 30px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card .imagen img {
  width: 100%;
  height: auto;
}

.informacion {
  padding: 20px;
  font-family: Tahoma, sans-serif;
}

.informacion p {
  font-size: 20px;
}

section {
  display: flex;
}
